@{
    ViewData["Title"] = "Home Page";
}
@model Inventory
<div class="text-center">
    <h1 class="display-4">Welcome to @ViewBag.OneShop.ShopName!</h1>
    <div class="row">
        <div class="col-sm-5">
            <h2>Peruse our products</h2>
            @{
                foreach(Inventory g in ViewBag.OneShop.GoodsSold)
                {
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="@g.Good.Photo" alt="@g.Good.GoodName" width="175px">
                        </div>
                        <div class="col-sm-8">
                            <br>
                            <h5>@g.Good.GoodName</h5>
                            <p>Calories: @g.Good.Calories</p>
                        </div>
                    </div>
                    <hr>
                }
            }
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <h2>Did we miss something?</h2>
            <form asp-action="AddStock" method="post">
                <div class="form-group">
                    <label for="GoodId">Add Good</label>
                    <select name="GoodId" class="form-control">
                        @{
                            foreach(Good g in ViewBag.AllGoods)
                            {
                                <option value="@g.GoodId">@g.GoodName</option>
                            }
                        }
                    </select>
                </div>
                <input type="hidden" name="ShopId" value="@ViewBag.OneShop.ShopId">
                <input type="submit" value="Add good" class="btn btn-info">
            </form>
        </div>
    </div>
</div>
