@model Playable
<div class="text-center">
    <h1 class="display-4">@ViewBag.OneGame.GameName (Rated: @ViewBag.OneGame.Rating)</h1>
    <div class="row">
        <div class="col-sm-5">
            <h2>All platforms playable on</h2>
            @{
                foreach(Playable p in ViewBag.OneGame.PlatformsPlayableOn)
                {
                    <h3>@p.Platform.PlatformName</h3>
                }
            }
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <h2>Add a platform</h2>
            <form asp-action="AddtoPlayable" method="post">
                <div class="form-group">
                    <label for="PlatformId">Platform Options</label>
                    <select asp-for="PlatformId" class="form-control">
                        @{
                            foreach(Platform p in ViewBag.AllPlats)
                            {
                                <option value="@p.PlatformId">@p.PlatformName</option>
                            }
                        }
                    </select>
                    <input type="hidden" asp-for="GameId" value="@ViewBag.OneGame.GameId">
                </div>
                <input type="submit" value="Add Platform" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>