@model Playable
<div class="text-center">
    <h1 class="display-4">@ViewBag.OnePlat.PlatformName (@ViewBag.OnePlat.Company)</h1>
    <div class="row">
        <div class="col-sm-5">
            <h2>All playable games</h2>
            @{
                foreach(Playable p in ViewBag.OnePlat.GamesPlayable)
                {
                    <h3>@p.Game.GameName</h3>
                }
            }
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <h2>Add a game</h2>
            <form asp-action="AddtoPlayable" method="post">
                <div class="form-group">
                    <label for="GameId">Game Options</label>
                    <select asp-for="GameId" class="form-control">
                        @{
                            foreach(Game p in ViewBag.AllGames)
                            {
                                <option value="@p.GameId">@p.GameName</option>
                            }
                        }
                    </select>
                    <input type="hidden" asp-for="PlatformId" value="@ViewBag.OnePlat.PlatformId">
                </div>
                <input type="submit" value="Add Game" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>